@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.row {
  max-width: variables.$grid-width;
  margin: 0 auto;

  display: flex;
  gap: variables.$gutter-horizontal;

  &:not(:last-child) {
    margin-bottom: variables.$gutter-vertical;

    @include mixins.respond(tab-port) {
      margin-bottom: 0;
    }
  }

  @include mixins.respond(tab-port) {
    flex-direction: column;
    gap: variables.$gutter-vertical-small;
    max-width: 50rem;
    padding: 0 3rem;
  }

  //   [class^="col-"] {
  //     text-align: center;
  //   }

  .col-1-of-2 {
    flex: 1;
  }

  .col-1-of-3 {
    flex: 1;
  }

  .col-2-of-3 {
    flex: 2;
  }

  .col-1-of-4 {
    flex: 1;
  }

  .col-2-of-4 {
    flex: 2;
  }

  .col-3-of-4 {
    flex: 3;
  }
}
